In [1]:
# Loading libraries:

from datetime import datetime
import numpy as np
from numpy import random
import pandas as pd
import glob
import os

In [2]:
# Compiling data from sub-datasets:

file_path = r'/Users/aloysiusteng/Documents (local drive)/CS610/Project/data/resale-flat-prices'
file_list = os.listdir(file_path)
csv_files = list(filter(lambda f: f.endswith('.csv'), file_list))
csv_files

['resale-flat-prices-based-on-registration-date-from-mar-2012-to-dec-2014.csv',
 'resale-flat-prices-based-on-approval-date-1990-1999.csv',
 'resale-flat-prices-based-on-registration-date-from-jan-2017-onwards.csv',
 'resale-flat-prices-based-on-approval-date-2000-feb-2012.csv',
 'resale-flat-prices-based-on-registration-date-from-jan-2015-to-dec-2016.csv']

In [3]:
#concatinate sales data
df_resale = pd.concat([pd.read_csv(file_path + '/' + f) for f in csv_files], ignore_index=True)

In [5]:
# Get resale data and process time column

df_resale['date'] = pd.to_datetime(df_resale['month'], format = '%Y-%m')
df_resale['remaining_lease'] = 99 - (df_resale['date'].dt.year - df_resale['lease_commence_date'])
df_resale["storey"] = (df_resale["storey_range"].map(lambda x: int(str(x)[6:]))+df_resale["storey_range"].map(lambda x: int(str(x)[:2])))/2
df_resale['storey']=df_resale['storey'].astype('int')
df_resale['month_count'] = (df_resale['date'].dt.year - 1999)*12 + (df_resale['date'].dt.month - 10) #starting from Oct 1999
df_resale = df_resale[df_resale['month_count'] >= 0]


df_resale.tail(1)

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease,date,storey,month_count
894020,2016-12,YISHUN,MULTI-GENERATION,666,YISHUN AVE 4,10 TO 12,164.0,Multi Generation,1987,735000.0,70,2016-12-01,11,206

In [7]:
# load coordinate data
hdb_geo = pd.read_csv('data/geo-hdbs.csv')
phpcs_geo = pd.read_csv('data/geo-phpcs.csv')
schools_geo = pd.read_csv('data/geo-schools.csv')
supermarkets_geo = pd.read_csv('data/geo-supermarkets.csv')
hawkercentres_geo = pd.read_csv('data/geo-hawkercentres.csv')
mrtlrt_geo = pd.read_csv('data/geo-mrtlrtstations.csv')
mrtlrt_geo['OPENING_DATE'] = pd.to_datetime(mrtlrt_geo['OPENING_DATE'], format="%d/%m/%Y")

city_lat = 1.2841256
city_lon = 103.8514617

In [8]:
# join blk and street name
df_resale['ADDRESS'] = df_resale['block'] + ' ' + df_resale['street_name']
df_resale.tail(2)

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease,date,storey,month_count,ADDRESS
894019,2016-12,YISHUN,EXECUTIVE,325,YISHUN CTRL,01 TO 03,146.0,Maisonette,1988,575000.0,71,2016-12-01,2,206,325 YISHUN CTRL
894020,2016-12,YISHUN,MULTI-GENERATION,666,YISHUN AVE 4,10 TO 12,164.0,Multi Generation,1987,735000.0,70,2016-12-01,11,206,666 YISHUN AVE 4

In [9]:
#create haversine function
import math

def haversine(lat1, lon1, lat2, lon2):
    
    # Coordinates in decimal degrees (e.g. 2.89078, 12.79797)

    R = 6371000  # radius of Earth in meters
    phi_1 = math.radians(lat1)
    phi_2 = math.radians(lat2)

    delta_phi = math.radians(lat2 - lat1)
    delta_lambda = math.radians(lon2 - lon1)

    a = math.sin(delta_phi / 2.0) ** 2 + math.cos(phi_1) * math.cos(phi_2) * math.sin(delta_lambda / 2.0) ** 2
    
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))

    meters = R * c  # output distance in meters
    km = meters / 1000.0  # output distance in kilometers

    return round(km, 3)

In [10]:
# get closes amenities
from tqdm import tqdm

dist_phpcs = []
dist_schools = []
dist_supermarkets = []
dist_hawkercentres = []
dist_city = []

for _, i in tqdm(hdb_geo.iterrows()):
    phpcs=[]
    schools =[]
    supermarkets = []
    hawkercentres = []
    for _, j in phpcs_geo.iterrows():
        phpcs.append(haversine(i["LATITUDE"], i["LONGITUDE"], j["LATITUDE"], j["LONGITUDE"]))
    dist_phpcs.append(min(phpcs))
    for _, j in schools_geo.iterrows():
        schools.append(haversine(i["LATITUDE"], i["LONGITUDE"], j["LATITUDE"], j["LONGITUDE"]))
    dist_schools.append(min(schools))
    for _, j in supermarkets_geo.iterrows():
        supermarkets.append(haversine(i["LATITUDE"], i["LONGITUDE"], j["LATITUDE"], j["LONGITUDE"]))
    dist_supermarkets.append(min(supermarkets))
    for _, j in hawkercentres_geo.iterrows():
        hawkercentres.append(haversine(i["LATITUDE"], i["LONGITUDE"], j["LATITUDE"], j["LONGITUDE"]))
    dist_hawkercentres.append(min(hawkercentres))
    dist_city.append(haversine(i["LATITUDE"], i["LONGITUDE"], city_lat, city_lon))

9714it [14:37, 11.07it/s]

In [11]:
# add distance to closes amenities
hdb_geo["dist_phpcs"] = dist_phpcs
hdb_geo["dist_schools"] = dist_schools
hdb_geo["dist_supermarkets"] = dist_supermarkets
hdb_geo["dist_hawkercentres"] = dist_hawkercentres
hdb_geo["dist_city"] = dist_city

In [24]:
# merge with geo data
all_data = df_resale.merge(
    hdb_geo[["ADDRESS","LATITUDE", "LONGITUDE", "dist_phpcs","dist_schools", "dist_supermarkets", "dist_hawkercentres", "dist_city"]],
    how="left",
    on="ADDRESS"
    )

In [17]:
# get distance to closes train station

dist_mrtlrt = []

for _, i in tqdm(all_data.iterrows()):
    dist=[]
    for _, j in mrtlrt_geo[mrtlrt_geo["OPENING_DATE"]<=i["date"]].iterrows():
        dist.append(haversine(i["LATITUDE"], i["LONGITUDE"], j["LATITUDE"], j["LONGITUDE"]))
    dist_mrtlrt.append(min(dist))

dist_mrtlrt

616778it [2:01:54, 84.32it/s]

[1.227,
 0.389,
 0.695,
 1.233,
 1.019,
 0.738,
 1.351,
 0.759,
 1.249,
 0.528,
 0.849,
 1.075,
 0.925,
 1.042,
 0.896,
 0.685,
 1.081,
 0.892,
 0.984,
 1.408,
 0.701,
 0.619,
 1.292,
 0.946,
 1.019,
 0.954,
 0.722,
 0.944,
 0.568,
 0.607,
 0.607,
 0.592,
 0.465,
 0.946,
 0.542,
 0.681,
 0.746,
 0.696,
 0.987,
 1.146,
 0.719,
 0.678,
 0.958,
 0.681,
 1.204,
 0.746,
 0.321,
 0.552,
 0.632,
 0.722,
 1.204,
 1.075,
 0.836,
 0.457,
 0.676,
 0.414,
 0.899,
 0.925,
 0.465,
 0.729,
 0.32,
 1.408,
 1.02,
 0.5,
 0.461,
 1.094,
 0.461,
 0.371,
 0.497,
 1.293,
 0.951,
 1.33,
 0.585,
 0.887,
 0.86,
 0.722,
 0.776,
 0.589,
 0.883,
 0.889,
 0.758,
 1.119,
 0.714,
 0.371,
 0.91,
 1.346,
 0.574,
 0.676,
 0.951,
 0.187,
 0.548,
 0.827,
 0.489,
 0.316,
 0.209,
 1.122,
 0.727,
 0.461,
 0.414,
 0.629,
 0.414,
 0.445,
 0.387,
 0.271,
 0.414,
 1.136,
 0.393,
 0.51,
 0.445,
 1.657,
 0.232,
 0.646,
 0.596,
 0.694,
 0.694,
 0.691,
 0.387,
 0.346,
 0.271,
 1.57,
 1.408,
 1.57,
 0.918,
 0.879,
 0.918,
 1.197,
 1.529,
 0.46,
 0.829,
 1.238,
 0.423,
 1.053,
 1.232,
 0.864,
 0.46,
 1.108,
 1.16,
 1.335,
 1.203,
 1.395,
 0.492,
 1.206,
 0.833,
 0.918,
 0.646,
 0.983,
 0.45,
 1.089,
 0.415,
 0.567,
 1.206,
 0.95,
 0.879,
 1.221,
 0.934,
 1.304,
 0.624,
 0.415,
 1.089,
 1.271,
 0.81,
 1.956,
 0.833,
 0.947,
 0.564,
 0.839,
 1.239,
 1.014,
 0.646,
 0.567,
 0.608,
 0.226,
 0.977,
 0.624,
 0.392,
 0.603,
 1.025,
 0.976,
 0.329,
 0.643,
 1.203,
 1.624,
 0.987,
 0.654,
 1.238,
 0.936,
 1.541,
 0.449,
 1.096,
 0.53,
 1.347,
 0.654,
 1.313,
 1.395,
 1.289,
 1.245,
 0.977,
 1.478,
 0.331,
 0.684,
 1.085,
 0.821,
 0.72,
 0.654,
 1.754,
 0.707,
 0.909,
 0.909,
 0.71,
 0.67,
 1.541,
 0.973,
 1.146,
 1.137,
 0.939,
 0.889,
 0.936,
 1.245,
 1.227,
 0.743,
 1.015,
 1.448,
 1.354,
 1.488,
 1.395,
 1.637,
 0.817,
 1.347,
 1.114,
 1.677,
 1.137,
 0.507,
 1.354,
 0.382,
 1.476,
 1.591,
 1.493,
 0.229,
 1.47,
 0.951,
 1.071,
 0.949,
 0.566,
 0.815,
 0.949,
 1.497,
 0.513,
 0.373,
 0.891,
 0.596,
 0.229,
 0.827,
 1.128,
 1.703,
 1.05,
 0.332,
 0.362,
 0.419,
 0.879,
 1.481,
 1.404,
 1.124,
 0.903,
 0.715,
 1.481,
 1.01,
 0.848,
 0.961,
 0.863,
 0.801,
 0.961,
 0.887,
 1.022,
 0.691,
 0.928,
 0.228,
 1.151,
 0.396,
 0.408,
 0.831,
 0.739,
 0.757,
 0.941,
 1.062,
 0.804,
 1.154,
 1.062,
 0.831,
 0.586,
 1.088,
 0.588,
 0.536,
 0.425,
 0.654,
 1.135,
 0.739,
 0.654,
 1.135,
 1.142,
 0.142,
 0.56,
 0.71,
 0.605,
 0.798,
 0.778,
 0.136,
 0.825,
 0.663,
 0.568,
 0.825,
 0.923,
 0.302,
 0.412,
 0.515,
 0.967,
 0.876,
 0.866,
 0.685,
 0.63,
 0.376,
 0.665,
 0.865,
 0.591,
 0.939,
 1.064,
 0.483,
 1.068,
 0.628,
 0.562,
 0.751,
 0.643,
 0.338,
 0.621,
 0.338,
 0.637,
 0.302,
 0.359,
 0.359,
 0.511,
 0.621,
 0.471,
 0.402,
 0.408,
 0.51,
 0.413,
 0.349,
 0.722,
 1.024,
 0.314,
 0.314,
 0.699,
 0.604,
 0.177,
 0.746,
 0.41,
 0.652,
 0.227,
 0.771,
 0.771,
 0.865,
 0.413,
 1.136,
 1.072,
 0.593,
 0.43,
 0.551,
 0.853,
 0.373,
 0.445,
 0.619,
 0.511,
 0.439,
 0.999,
 0.83,
 1.162,
 0.722,
 1.136,
 0.469,
 0.966,
 0.663,
 0.658,
 1.092,
 0.966,
 0.391,
 0.859,
 0.859,
 0.839,
 0.824,
 0.607,
 0.398,
 0.945,
 0.936,
 0.936,
 0.353,
 0.874,
 0.149,
 0.289,
 0.695,
 0.526,
 0.415,
 0.451,
 0.305,
 0.824,
 0.201,
 1.294,
 0.599,
 1.302,
 0.272,
 0.424,
 0.686,
 0.424,
 0.424,
 0.509,
 1.256,
 0.979,
 1.302,
 0.586,
 0.758,
 0.148,
 1.014,
 1.062,
 0.148,
 0.885,
 0.818,
 1.274,
 0.628,
 0.758,
 0.431,
 0.481,
 0.628,
 0.477,
 0.609,
 0.824,
 0.981,
 0.556,
 1.252,
 0.338,
 0.257,
 0.598,
 0.371,
 1.191,
 0.398,
 0.77,
 1.118,
 0.544,
 0.481,
 0.493,
 0.51,
 0.481,
 0.57,
 0.315,
 0.375,
 0.315,
 0.443,
 1.191,
 0.449,
 1.146,
 0.622,
 0.268,
 0.76,
 0.589,
 1.197,
 0.392,
 0.683,
 0.715,
 0.656,
 1.24,
 0.621,
 1.157,
 0.398,
 0.381,
 0.441,
 0.587,
 0.715,
 0.37,
 0.085,
 0.651,
 1.11,
 0.429,
 0.157,
 0.454,
 0.143,
 0.656,
 0.492,
 0.441,
 0.24,
 1.146,
 0.24,
 0.909,
 0.334,
 0.55,
 0.085,
 0.492,
 0.76,
 0.708,
 0.16,
 0.37,
 0.51,
 0.728,
 0.085,
 0.587,
 0.429,
 0.441,
 0.294,
 0.764,
 0.379,
 0.189,
 0.586,
 0.103,
 0.085,
 0.085,
 0.16,
 0.441,
 0.085,
 0.143,
 0.138,
 0.229,
 0.173,
 0.415,
 0.336,
 0.093,
 0.072,
 0.268,
 0.136,
 0.463,
 0.185,
 0.417,
 0.287,
 0.133,
 0.13,
 0.371,
 0.176,
 0.421,
 0.419,
 0.287,
 0.267,
 0.13,
 0.261,
 0.309,
 0.136,
 0.324,
 0.331,
 0.324,
 0.221,
 0.11,
 0.23,
 0.287,
 0.459,
 0.388,
 0.381,
 0.305,
 0.238,
 0.134,
 0.138,
 0.137,
 0.371,
 0.185,
 0.36,
 0.543,
 0.185,
 0.243,
 0.391,
 0.37,
 0.144,
 0.236,
 0.17,
 0.212,
 0.08,
 0.025,
 0.233,
 0.186,
 0.213,
 0.219,
 0.191,
 2.803,
 2.776,
 2.72,
 2.751,
 2.74,
 0.516,
 0.516,
 0.221,
 0.304,
 0.198,
 0.35,
 0.218,
 0.424,
 0.229,
 0.373,
 0.322,
 0.298,
 0.235,
 0.604,
 0.578,
 0.239,
 0.545,
 0.248,
 0.223,
 0.184,
 0.257,
 0.238,
 0.939,
 0.316,
 0.166,
 0.065,
 0.22,
 0.618,
 0.678,
 0.872,
 0.023,
 0.814,
 1.043,
 0.481,
 0.513,
 1.043,
 0.941,
 0.413,
 0.597,
 1.154,
 0.243,
 0.935,
 0.517,
 0.996,
 0.384,
 0.522,
 0.127,
 0.316,
 1.147,
 1.072,
 0.126,
 0.645,
 0.601,
 0.996,
 0.565,
 0.385,
 0.903,
 0.421,
 1.175,
 0.662,
 0.608,
 0.507,
 0.264,
 0.649,
 0.332,
 1.128,
 0.764,
 0.467,
 0.563,
 0.607,
 0.332,
 0.342,
 0.564,
 0.394,
 0.662,
 0.507,
 0.124,
 0.605,
 0.523,
 0.379,
 0.54,
 0.654,
 0.564,
 0.491,
 0.398,
 0.508,
 0.277,
 0.782,
 0.705,
 1.161,
 0.385,
 1.217,
 1.078,
 1.043,
 0.198,
 0.927,
 0.456,
 0.16,
 0.764,
 0.565,
 0.361,
 0.744,
 0.262,
 0.734,
 0.732,
 0.245,
 0.862,
 0.65,
 1.15,
 0.779,
 0.513,
 0.498,
 0.451,
 0.294,
 0.279,
 0.483,
 0.129,
 0.721,
 0.172,
 0.218,
 0.303,
 0.294,
 0.186,
 1.061,
 0.844,
 0.294,
 0.186,
 0.135,
 0.332,
 0.345,
 0.212,
 1.15,
 0.547,
 1.104,
 1.378,
 1.081,
 1.052,
 0.903,
 1.246,
 1.173,
 0.96,
 1.035,
 1.207,
 0.981,
 0.64,
 0.936,
 0.659,
 1.059,
 0.631,
 0.707,
 0.647,
 0.355,
 0.631,
 0.67,
 0.622,
 1.353,
 0.707,
 0.371,
 0.488,
 0.614,
 0.411,
 0.15,
 0.325,
 0.402,
 0.325,
 1.144,
 1.438,
 0.412,
 1.438,
 0.302,
 1.15,
 0.433,
 0.737,
 0.496,
 0.542,
 1.32,
 0.737,
 0.663,
 0.678,
 0.678,
 1.127,
 1.1,
 0.345,
 0.532,
 0.675,
 0.466,
 0.942,
 1.116,
 0.534,
 0.483,
 0.542,
 0.45,
 0.554,
 0.466,
 0.439,
 0.427,
 0.433,
 0.373,
 0.507,
 0.545,
 0.492,
 0.427,
 0.433,
 0.414,
 0.489,
 0.584,
 0.497,
 0.465,
 0.497,
 0.458,
 1.055,
 0.755,
 0.5,
 0.414,
 0.542,
 0.572,
 0.382,
 0.413,
 0.755,
 0.542,
 0.502,
 0.572,
 0.897,
 0.506,
 0.087,
 0.453,
 0.453,
 1.059,
 0.927,
 0.281,
 0.255,
 0.718,
 0.953,
 0.49,
 0.692,
 0.755,
 0.734,
 0.402,
 0.74,
 0.402,
 1.059,
 0.223,
 0.792,
 0.678,
 0.284,
 0.284,
 0.581,
 0.678,
 0.585,
 0.284,
 0.746,
 0.746,
 0.374,
 0.618,
 0.412,
 0.398,
 0.104,
 0.697,
 0.825,
 0.398,
 0.337,
 0.253,
 0.776,
 0.678,
 0.907,
 0.8,
 0.918,
 0.976,
 1.258,
 0.806,
 1.258,
 0.683,
 0.692,
 0.308,
 0.692,
 0.918,
 0.692,
 0.767,
 0.781,
 1.107,
 0.857,
 1.121,
 0.632,
 1.135,
 0.935,
 1.111,
 0.988,
 1.135,
 0.978,
 0.848,
 0.754,
 0.972,
 0.794,
 0.721,
 0.81,
 0.634,
 1.209,
 0.839,
 0.499,
 0.78,
 1.21,
 1.435,
 0.686,
 1.21,
 1.083,
 1.297,
 1.21,
 0.607,
 0.81,
 0.933,
 0.628,
 0.549,
 1.319,
 0.967,
 0.889,
 1.379,
 1.119,
 1.111,
 0.876,
 1.481,
 1.322,
 1.002,
 1.104,
 1.078,
 1.481,
 0.867,
 1.481,
 0.967,
 1.125,
 0.731,
 1.16,
 0.594,
 1.06,
 0.676,
 0.864,
 0.918,
 0.476,
 0.385,
 0.545,
 0.367,
 0.677,
 0.504,
 1.203,
 0.545,
 0.644,
 0.598,
 0.311,
 0.516,
 0.994,
 1.127,
 1.354,
 0.572,
 1.272,
 0.985,
 1.588,
 0.65,
 0.311,
 1.249,
 0.532,
 1.078,
 0.572,
 0.827,
 1.16,
 0.976,
 0.63,
 0.471,
 0.727,
 0.508,
 0.458,
 0.705,
 0.508,
 0.976,
 0.933,
 0.893,
 0.642,
 0.594,
 0.63,
 0.423,
 0.573,
 0.449,
 0.459,
 0.997,
 0.333,
 0.999,
 0.333,
 0.713,
 0.713,
 0.333,
 0.956,
 0.999,
 0.713,
 1.41,
 0.999,
 0.759,
 1.054,
 0.392,
 0.9,
 0.333,
 0.579,
 0.929,
 0.606,
 0.929,
 0.333,
 0.559,
 1.054,
 0.518,
 0.579,
 1.054,
 0.579,
 0.559,
 1.473,
 1.554,
 1.473,
 1.554,
 0.821,
 1.596,
 1.475,
 1.054,
 0.95,
 0.589,
 0.861,
 ...]

In [25]:
# merge with geo data
all_data['dist_mrtlrt'] = dist_mrtlrt

In [26]:
# Load interest rate:
int_rate = pd.read_excel('data/sg int.xlsx')
int_rate['Date'] = pd.to_datetime(int_rate['Date'])

int_rate = int_rate.sort_values(by='Date', ascending=True, ignore_index=True)
int_rate.head(2)

        Date  Ask Price
0 1999-09-30    2.47917
1 1999-12-31    2.83333

In [27]:
# merge with interest rate data
all_data = all_data.sort_values(by='date', ascending=True, ignore_index=True)

all_data = pd.merge_asof(all_data, 
              int_rate[["Date", "Ask Price"]],
              left_on='date',
              right_on='Date',
              direction='backward')

all_data = all_data.rename(columns={"Ask Price": "int_rate"})
all_data = all_data.drop('Date', axis=1)

In [28]:
# remove columns

all_data = all_data.drop(['date','month', 'block', 'storey_range', 'street_name', 'lease_commence_date', 'ADDRESS', 'LATITUDE', 'LONGITUDE'], axis=1)

In [29]:
# clean data

all_data['flat_type'] = all_data['flat_type'].replace('MULTI-GENERATION', 'MULTI GENERATION', regex = True)

for i in ['town', 'flat_type', 'flat_model']:
    all_data[i] = all_data[i].map(lambda x: x.replace(' ', '_'))
    all_data[i] = all_data[i].map(lambda x: x.lower())

In [30]:
# reorder columns
order = ['town',
 'flat_type',
 'flat_model',
 'month_count',
 'floor_area_sqm',
 'storey',
 'remaining_lease',
 'dist_phpcs',
 'dist_schools',
 'dist_supermarkets',
 'dist_hawkercentres',
 'dist_mrtlrt',
 'dist_city',
 'int_rate',
 'resale_price']

all_data = all_data.reindex(columns=order)

In [34]:
# save non-normalised data frame to CSV

all_data.to_csv('data/complete_data_unscaled.csv', index=False)

In [35]:
all_data.head(10)

,town,flat_type,flat_model,month_count,floor_area_sqm,storey,remaining_lease,dist_phpcs,dist_schools,dist_supermarkets,dist_hawkercentres,dist_mrtlrt,dist_city,int_rate,resale_price
0,hougang,4_room,new_generation,0,93.0,8,85,0.336,0.506,0.582,0.847,4.489,10.024,2.47917,227000.0
1,queenstown,3_room,standard,0,66.0,5,71,0.297,0.340,0.528,0.272,0.579,6.096,2.47917,131000.0
2,queenstown,3_room,standard,0,52.0,5,73,0.154,0.074,0.338,0.182,0.376,6.023,2.47917,122000.0
3,queenstown,3_room,standard,0,56.0,2,73,0.170,0.214,0.402,0.159,0.450,6.091,2.47917,128000.0
4,queenstown,4_room,improved,0,82.0,14,77,0.108,0.759,0.105,0.207,0.295,7.540,2.47917,290000.0
5,queenstown,4_room,improved,0,89.0,2,73,0.343,0.638,0.491,0.333,0.675,5.824,2.47917,233000.0
6,queenstown,4_room,improved,0,86.0,11,74,0.748,0.504,0.353,0.908,1.305,8.545,2.47917,275000.0
7,queenstown,4_room,improved,0,88.0,14,74,0.170,1.212,0.282,0.242,0.792,7.113,2.47917,296000.0
8,queenstown,4_room,improved,0,88.0,8,75,0.173,1.176,0.162,0.177,0.470,6.957,2.47917,318000.0
9,queenstown,4_room,improved,0,88.0,5,75,0.181,1.113,0.068,0.134,0.399,7.050,2.47917,305000.0

In [36]:
# scale data

scale = {}
for i in range(3,len(all_data.columns)-1):
    lowest = min(all_data[all_data.columns[i]])
    highest = max(all_data[all_data.columns[i]])
    all_data[all_data.columns[i]] = all_data[all_data.columns[i]].map(lambda x: (x-lowest)/(highest-lowest))
    scale[all_data.columns[i]] = [lowest, highest]

In [37]:
# save non-normalised data frame to CSV

all_data.to_csv('data/complete_data.csv', index=False)

In [38]:
# convert 'scale' to dataframe and save as CSV

scale = pd.DataFrame.from_dict(scale)
scale = scale.rename(index={0: 'lowest', 1: 'highest'})
scale['remaining_lease'] = scale['remaining_lease'].astype('int')
scale['month_count'] = scale['month_count'].astype('int')

scale.to_csv('data/scale.csv', index=False)

In [39]:
hdb_geo.to_csv('data/combined_geo', index=False)

In [2]:
all_data['flat_model'].unique()

NameError: name 'all_data' is not defined